$dark-font-color: #000000;
$light-font-color: #dddddd;

/*********** HEADER **************/
$header-bg-color: #fff;


/*********** SIDEBAR *************/
$sidebar-bg-color: #373d46;
$sidebar-font-color: $light-font-color;
$sidebar-child-bg-color: #292d34;
$sidebar-li-border-color: $sidebar-child-bg-color;

/*********** DDL ****************/
$ddl-options-bg-color: #373d46;
$ddl-options-border-color: #292d34;
$ddl-options-font-color: $light-font-color;